<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/my_style.css') }}">
    <title>Document</title>
</head>
<body>

    <div class="container" style=" width: {{width}}px; height="{{height}}px" ">
        
        {%for i in range(x)%}
            {%for j in range(y)%}
            {% if j%2 ==0 and i%2==0%}
            <div class="box" style="background-color: {{c1}};"> </div> 
            {% elif j%2 !=0 and i%2==1%}
            <div class="box" style="background-color: {{c1}};"> </div> 
            {% elif j%2 ==0 and i%2==1%}
            <div class="box" style="background-color: {{c2}};"> </div> 
            
            {%else%}
            <div class="box" style="background-color: {{c2}};"> </div>
            {%endif%}
            {%endfor%}
        {%endfor%}
    </div>
</body>
</html>