<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method='post'>
        {% csrf_token %}
        <label for="name">Your name:</label>
        <input type="text"  name="name">
        <br><br>
        <label for="location">location:</label>
        <select name="location">
          <option value="palestine">palestine</option>
          <option value="usa">usa</option>
          <option value="germany">germany</option>
          <option value="france">france</option>
        </select>
        <br><br>
        <label for="language">language:</label>
        <select name="language" >
          <option value="python">python</option>
          <option value="c++">c++</option>
          <option value="java">java</option>
          <option value="c#">c#</option>
        </select>
        <br><br>
        <label for="text">comment</label>
        <textarea name="text"></textarea>
        <br><br>
        <input type="submit" value="Submit" >
        <br><br>
      </form>
      
</body>
</html>