<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>All the Users</h1>
    <table>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
        </tr>
       
        <tr>
            <td>{{fname}}</td>
            <td>{{lname}}</td>
            <td>{{email}}</td>
            <td>{{age}}</td>
        </tr>
       
    </table>
</body>
</html>